.webs{
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 98%;
}
.webtable{
    width: 95%;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}
.webtable th{
    border-bottom: 1px solid green;
    text-align: center;
    vertical-align: middle!important;
    background-color: green;
    color: white;
}
table td{
    border-bottom: 1px solid green;
    text-align: left;
    vertical-align: middle!important;
    white-space: pre-wrap;
    overflow: hidden;
    padding: 5px 10px;
}
table .info{
    border-bottom: 1px solid green;
    text-align: left;
    vertical-align: middle!important;
    white-space: pre;
    overflow: hidden;
}
table td:hover {
    overflow:auto;
    text-overflow:clip;
}

.editbtn{
    background-color: rgb(47, 189, 111);
    cursor: pointer;
    color: white;
    margin: 0 auto;
    width: 100px;
    text-align: center;
}
.cbtn{
    background-color: rgb(33, 150, 48);
    cursor: pointer;
    color: white;
    margin: 0 auto;
    border: none;
    width: 100px;
    text-align: center;
}

#pagination{
    position: relative;
    bottom: 0px;
    right: 50px;
}